<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'storage:complete_profile' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        </div>
        {% endfor %}
        <input type="submit" t>
    </form>
    <p>Note: enter deadline in yyyy-mm-dd hh:mm:ss format </p>
</body>
</html>