<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="POST">
            {%csrf_token%}
            <fieldset>
                <legend>Login</legend>
                {{form.as_p}}
            </fieldset>
            <div>
                <input type="submit">
            </div>
        </form>
        <div>
            <small>
                <a href="{% url 'password_reset' %}">Forget password?</a>
            </small>
            <br>
            <small>
                Register an account? <a href="{% url 'register' %}">here</a>
            </small>
        </div>
    </div>
    
</body>
</html>